<%- include ../partials/header %>
<%- include ../partials/sidebar %>       

<div class="page-wrapper">
  <div class="container-fluid">
      <div class="row">
          <div class="" style="width:100%;">
              <div class="card-body">
                  <h3 class="card-title"><%=title%></h3>
                  <%- include ../messages %>
                    <div class="title_right text-right">
                        <a href="<%= adminbaseurl %>admin-user/addedit" class="btn btn-success right"><i class="fa fa-plus"></i> Add Admins</a>
                    </div> <br> 
                  <div class="table-responsive">
                      <table id="zero_config" class="table table-striped table-bordered ">
                          <thead>
                              <tr>
                                <th style="width:15px">Sl.</th>        
                                <th>Username</th>            
                                <th>Name</th>
                                <th>Email</th>
                                <th>Mobile</th>                                     
                                <th>Address</th>                         
                                <th>Status</th>
                                <th class="abc" data-orderable="false">Action</th>
                              </tr>
                          </thead>

                  <tbody>

                  <% var i=1;
                  arrData.forEach(function(val) { %>
     
                 <tr>
                 <td> <%= i %></td>
                 <td> <%= val.username %></td>
                 <td> <%= val.name %></td> 						
                 <td> <%= val.email %></td>
                 <td> <%= val.mobile %></td> 
                 <td> <%= val.address %></td>            
                 <td> <%= val.status %></td>
                  <td>
                  <a href="<%= adminbaseurl%>admin-user/addedit/<%= val.admin_id %>" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit </a>
                  <a id="delete" href="<%= adminbaseurl%>admin-user/delete/<%= val.admin_id %>" class="btn btn-danger btn-xs" onclick="return(confirm('Do you really want to delete? '));"><i class="fa fa-trash-o"></i> Delete </a>
   
                  </td>
                 </tr>
                 <% i++; }) %>
                              
                              
                  </tbody>
                </table>
              </div>

          </div>
      </div>
    </div>
  </div>
</div>
    
</body>

</html>
<%- include ../partials/footer %>



